<ion-content [fullscreen]="true">
  <ion-card color="light" fill="outline">
    <img
      class="img"
      alt="Silhouette of mountains"
      src="./../../assets/bateaux_de_thibault_720x.webp"
    />
    <ion-card-header>
      <ion-card-title>Nos Bateaux partenaires</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col push-sm="6">
        <ion-card color="light" fill="outline" (click)="activerDeLaBrise()">
          <ion-card-header>
            <ion-card-title>De la Brise</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-button fill="outline">
              <ion-icon name="boat"></ion-icon>
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col pull-sm="6">
        <ion-card color="light" fill="outline" (click)="activerSaphir()">
          <ion-card-header>
            <ion-card-title>Saphir</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-button fill="outline">
              <ion-icon name="boat"></ion-icon>
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col push-sm="6">
        <ion-card color="light" fill="outline" (click)="activerLePenelope()">
          <ion-card-header>
            <ion-card-title>Le Pénélope</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-button fill="outline">
              <ion-icon name="boat"></ion-icon>
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col pull-sm="6">
        <ion-card color="light" fill="outline" (click)="activerLesPassionnes()">
          <ion-card-header>
            <ion-card-title>Les Passionnés</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-button fill="outline">
              <ion-icon name="boat"></ion-icon>
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!--fab button at top right that opens shopping cart-->

  <!-- list of products in 2 columns: product name and price, add icon -->

  <ion-card-content *ngIf="isDeLaBrise">
    <ion-row
      class="ion-align-items-center ion-justify-content-center"
      style="width: 100%"
    >
      <ion-col size="8">
        <ion-img src="./../../assets/delabrise.jpg"></ion-img>
        <p>
          <br />Voici le bateau "De la Brise" de Jérome avec lequel nous
          travaillons; qui assure un bon pourcentage de la pêche des produits
          que nous vous proposons à la livraison. Le reste des produits sont
          achetés à la criée de Cherbourg à d'autres bateaux pratiquant la peche
          artisanale.
        </p>
      </ion-col>
    </ion-row>
  </ion-card-content>

  <ion-card-content *ngIf="isSaphir">
    <ion-row
      class="ion-align-items-center ion-justify-content-center"
      style="width: 100%"
    >
      <ion-col size="8">
        <ion-img src="./../../assets/saphir.png"></ion-img>
        <p>
          <br />Voici le bateau "Le Saphir" de mon oncle Jean-Pierre avec lequel
          nous travaillons; qui assure un bon pourcentage de la pêche des
          produits que nous vous proposons à la livraison. Le reste des produits
          sont achetés à la criée de Cherbourg à d'autres bateaux pratiquant la
          peche artisanale.
        </p>
      </ion-col>
    </ion-row>
  </ion-card-content>

  <ion-card-content *ngIf="isLePenelope">
    <ion-row
      class="ion-align-items-center ion-justify-content-center"
      style="width: 100%"
    >
      <ion-col size="8">
        <ion-img src="./../../assets/Pénélope.jpg"></ion-img>
        <p>
          <br />
          Voici le bateau "Le Pénélope" de Yann avec lequel nous travaillons;
          qui assure un bon pourcentage de la pêche des produits que nous vous
          proposons à la livraison. Le reste des produits sont achetés à la
          criée de Cherbourg à d'autres bateaux pratiquant la peche artisanale.
        </p>
      </ion-col>
    </ion-row>
  </ion-card-content>

  <ion-card-content *ngIf="isLesPassionnes">
    <ion-row
      class="ion-align-items-center ion-justify-content-center"
      style="width: 100%"
    >
      <ion-col size="8">
        <ion-img src="./../../assets/passionnés.jpg"></ion-img>
        <p>
          <br />
          Voici le bateau "Les Passionnés" de Ludovic avec lequel nous
          travaillons; qui assure un bon pourcentage de la pêche des produits
          que nous vous proposons à la livraison. Le reste des produits sont
          achetés à la criée de Cherbourg à d'autres bateaux pratiquant la peche
          artisanale.
        </p>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-content>
