<ion-content fullscreen>
  <!--button to close modal-->
  <div class="ion-text-end">
    <ion-button (click)="close()" fill="clear" color="white">
      <ion-icon name="close" slot="start"></ion-icon>
    </ion-button>
  </div>

  <div class="ion-padding">
    <ion-list>
      <ion-item *ngFor="let product of cart" class="ion-text-wrap">
        <ion-grid>
          <!--row with 4 columns: - amount + close -->
          <ion-row class="ion-align-items-center">
            <ion-col size="2" class="ion-align-self-center">
              <ion-button
                color="medium"
                fill="clear"
                (click)="decreaseCartItem(product)"
              >
                <ion-icon name="remove-circle" slot="icon-only"></ion-icon>
              </ion-button>
            </ion-col>

            <ion-col size="1" class="ion-align-self-center">
              {{ product.amount }}
            </ion-col>

            <ion-col size="2" class="ion-align-self-center">
              <ion-button
                color="medium"
                fill="clear"
                (click)="increaseCartItem(product)"
              >
                <ion-icon name="add-circle" slot="icon-only"></ion-icon>
              </ion-button>
            </ion-col>

            <ion-col size="2" offset="5">
              <ion-button
                color="medium"
                fill="clear"
                (click)="removeCartItem(product)"
              >
                <ion-icon name="close-circle" slot="icon-only"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>

          <!--row with 2 columns - product name and amount-->
          <ion-row>
            <ion-col size="9">
              <b>{{ product.name }}</b>
            </ion-col>
            <ion-col size="3" class="ion-text-end">
              {{ product.amount * product.price + " €" }}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item>
        <ion-grid>
          <!--row with 2 columns: 'Total' total calculated by getTotal function with currency pipe-->
          <ion-row>
            <ion-col size="9"> Total: </ion-col>
            <ion-col size="3" class="ion-text-end">
              {{ getTotal()+ " €" }}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>

    <div *ngIf="showCartButton" class="checkout-button-container">
      <ion-button expand="full" (click)="checkout()">
        VALIDER MON PANIER
      </ion-button>
    </div>
  </div>

  <!-- ... Votre contenu précédent ... -->

  <div *ngIf="showLocationDropdown" class="checkout-button-container">
    <select [(ngModel)]="selectedLocation" class="location-dropdown">
      <!-- Ajoutez les options pour les différents points de livraison -->
      <option value="Bistrot des Gascons">Bistrot des Gascons</option>
      <option value="Café des Phares">Café des Phares</option>
      <option value="Le Vert Tulipe">Le Vert Tulipe</option>
      <option value="Ruche qui dit Oui">Ruche qui dit Oui</option>
    </select>

    <button (click)="provideAddress()" class="secondary-button">
      Valider le point de livraison
    </button>
  </div>

  <div *ngIf="showCheckoutButton" class="checkout-button-container">
    <!-- Afficher le bouton "Valider la commande" seulement si l'adresse a été fournie -->
    <button (click)="confirmCheckout()" class="checkout-button">
      Valider la commande
    </button>
  </div>

  <!-- ... Votre contenu suivant ... -->
</ion-content>
