<ion-content [fullscreen]="true">
  <ion-card color="light" fill="outline">
    <img
      class="img"
      alt="Silhouette of mountains"
      src="./../../assets/restaurant.jpg"
    />
    <ion-card-header>
      <ion-card-title>Restaurants partenaires</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col push-sm="6">
        <ion-card color="light" fill="outline">
          <ion-card-header>
            <ion-card-title>Bistrot des Gascons</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-button fill="outline">
              <ion-icon name="restaurant-outline"></ion-icon>
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col pull-sm="6">
        <ion-card color="light" fill="outline">
          <ion-card-header>
            <ion-card-title>Les fous de l'Île</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-button fill="outline">
              <ion-icon name="restaurant-outline"></ion-icon>
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col push-sm="6">
        <ion-card color="light" fill="outline">
          <ion-card-header>
            <ion-card-title>Bistrot Landais</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-button fill="outline">
              <ion-icon name="restaurant-outline"></ion-icon>
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col pull-sm="6">
        <ion-card color="light" fill="outline">
          <ion-card-header>
            <ion-card-title>Villa 9-Trois</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-button fill="outline">
              <ion-icon name="restaurant-outline"></ion-icon>
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col push-sm="6">
        <ion-card color="light" fill="outline">
          <ion-card-header>
            <ion-card-title>Bistrot du Sommelier</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-button fill="outline">
              <ion-icon name="restaurant-outline"></ion-icon>
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col pull-sm="6">
        <ion-card color="light" fill="outline">
          <ion-card-header>
            <ion-card-title>Devenez partenaire!</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-button fill="outline">
              <ion-icon name="restaurant-outline"></ion-icon>
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
