ion-button {
  padding: auto !important;
  border-radius: auto;
  -moz-border-radius: auto;
  -webkit-border-radius: auto;
  margin: auto
}

.img {
  width: 100%;
  max-width: 600px;
  min-width: 100px;
}
